<div class="profile-info">
    <div class="user-img text-center">
      <img src="../assets/logo.png" alt="user" width="120px"> 
    </div>
    <p>Easy Survey </p>
</div>
<hr>
<div class="text-center">
  <p>Total Survey<sup><span  class="badge badge-info">50</span></sup></p>
  <p>Total OnGoing Survey<sup><span  class="badge badge-primary">20</span></sup></p>
  <p>Total Completed Survey<sup><span  class="badge badge-success">30</span></sup></p>
</div>
<!-- <mat-nav-list>
  <a mat-list-item [routerLink]="['/grid-list']" routerLinkActive="active">grid-list</a>
  <a mat-list-item [routerLink]="['/stepper']" routerLinkActive="active">stepper</a>
  <a mat-list-item [routerLink]="['/tabs']" routerLinkActive="active">tabs</a>
  <a mat-list-item [routerLink]="['/side-bar']" routerLinkActive="active">side-bar</a>
</mat-nav-list>  -->


