<div class="profile-info">
    <div class="user-img">
      <img src="../assets/logo.png" alt="user" width="120px">
      
    </div>
    <p>POC Name </p>
</div>
<!-- <div class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
  <h3>Recent Completed Survey <i class="material-icons warning">
    check_circle_outline
    </i></h3>
  <p>TATAAIG 390</p>
 

 
</div> -->
<!-- <div class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
     <h3>All OnGoing Survey<span matBadge="3" matBadgeColor="warn"></span></h3>
     <h3>Recent OnGoing Survey</h3>
     <p>WIPRO 390</p>
   
</div> -->

<!-- 
<div class="example-ripple-container mat-elevation-z4"
     matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color">
   
     <div style="display: block;">
      <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        
        [legend]="pieChartLegend">
      </canvas>
    </div>
   
</div> -->
<!-- <mat-nav-list>
  <a mat-list-item [routerLink]="['/grid-list']" routerLinkActive="active">grid-list</a>
  <a mat-list-item [routerLink]="['/stepper']" routerLinkActive="active">stepper</a>
  <a mat-list-item [routerLink]="['/tabs']" routerLinkActive="active">tabs</a>
  <a mat-list-item [routerLink]="['/side-bar']" routerLinkActive="active">side-bar</a>
  <a mat-list-item [routerLink]="['/header-bar']" routerLinkActive="active">header-bar</a>
</mat-nav-list> -->


