.mat-nav-list a{
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 1px;
      height: 30px;

      font-size: 13px;
}
.mat-nav-list a:hover{
    background-color:#015ba5;
}
.profile-info{
    background: #000e1b;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 0px;
 
}
.user-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border:5px solid #2d323e;
}
.profile-info img{
    max-width: 100%;
}
.example-ripple-container {
    cursor: pointer;
    text-align: center;
  
    
    height: auto;
    padding: 0;
  
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
  }
  .example-ripple-container h3{
    font-weight: 400;
    font-size: 15px;
  }
  
  /** Styles to make the demo look better. */
  .example-ripple-checkbox {
    margin: 6px 12px 6px 0;
  }
  
  .example-ripple-form-field {
    margin: 0 12px 0 0;
  }
