/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #464646; 
}
.body-mat-card {min-height: 455px;margin-bottom: 5px;
  overflow: initial;    margin-top: 4px;padding:10px;

} 
.form-control {    font-size: 14px;
  height: 30px;    padding: 0px 6px;
  }
.working{color:#f89d13;}
.working-btn{background-color: #f89d13;color:#fff;}

.example-card{
box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
transition: all 0.5s ease-in-out;    margin-bottom: 5px;}
.example-card:hover{
transition: .3s;
transform: translateY(-0.25rem);
box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05);
border:1px solid #dedede;}

/* mat-grid-tile{
  padding-top: calc(((11% - 0px) * 1) + 0px);
} */

.header-survey{padding: 9px; margin-bottom: 10px;    background: #eeeeee;}
.header-survey h6{margin: 0;}

mat-card{width:100%;}

.dash-head h2{ font-weight: 200;}

.dash-head span{border-bottom: 1px solid #bbe1f1;}

.dash-head hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgb(165, 230, 255);
  width: 44%;
}

.icon-update .material-icons{font-size: 24px;position: relative;top:6px;}

:host > .container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: none;
}
:host /deep/ .mat-tab-group {
  flex-direction: row;
}
:host /deep/ .mat-tab-header {
  border-bottom: none;
}
:host /deep/ .mat-tab-header-pagination {
  display: none !important;
}
:host /deep/ .mat-tab-labels {
  flex-direction: column;
}
:host /deep/ .mat-ink-bar {
  height: 100%;
  left: 98% !important;
}
:host /deep/ .mat-tab-body-wrapper {
  flex: 1 1 auto;

}

.mat-card-header .mat-card-title{font-size: 17px;    margin-bottom: 8px;}
.mat-card-actions {
  margin-left: -0;
  margin-right: -8px;
padding: 0;
}
.mat-card-avatar {
 height: 10px; 
width: 20px;
  /* border-radius: 50%; */
  /* flex-shrink: 0; */
  /* object-fit: cover;*/}

.container {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
}
#content {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 15px;
  width: 1264px;
  background-color: #fff;
}
#content {
  max-width: 1100px;
  width: 100%;
  background-color: #fff;
  padding: 24px;
  box-sizing: border-box;
}
#content::before, #main-content::before, #content::after, #main-content::after {
  content: "";
  display: table;
}
#content::after, #main-content::after {
  clear: both;
}


.swal2-popup { font-size: 1.6rem !important; }


.btn-xs{padding: 0px 6px; font-size: 12px;}

.card-list .card-block{
color: #fff;
padding: 19px;
/* height: 104px; */
margin: 8px 0px;
border-radius: .5rem;
  position: relative;
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
  transition: .15s box-shadow ease,.15s transform ease;
  -moz-transition: .15s box-shadow ease,.15s transform ease;
}
.card-block i {
position: absolute;
top: 50%;
transform: translateY(-50%);
font-size: 4rem;
left: 1rem;
color: rgba(255,255,255,.2);
transition: .15s all ease;}

.card-1 {
  background-color: #2c303a;
}
.card-2 {
  background-color: #ffc107;
}
.card-3 {
  background-color: #2092ed;
}

.card-4 {
background-color: #28a745;
}
.card-5 {
background-color: #2c303a;
}
.card-head{
margin-top: 0;
margin-bottom: 0rem;
font-style: italic;
color: #2c303a;
font-weight: 500;

text-align: left;
}
.card-block:hover {
transform: translateY(-0.25rem);
box-shadow: 0 2.25rem 1.5rem -1.5rem rgba(33,37,41,.3),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
}
.card-block:hover i{ left: 1.5rem;
font-size: 3rem;}

.alertbox{
  
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  width: 32em;
  max-width: 100%;
  padding: 1.25em;
  border: none;
  border-radius: .3125em;
  background: #fff;
  font-family: inherit;
  font-size: 1rem;
animation:.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border: 1px solid #fff;
  box-shadow: 0px -2px 57px black;
}
