
<div class="row">
  <div class="col-lg-12 dash-head text-center">
    <h4 *ngIf="!show" style="padding: 10px 0;">  Armezo will be helpful for you to understand where your trends, now</h4>
  </div>
</div>

<div class="row">
  <div class="col-lg-12" *ngIf="!menuToggle">
        <button type="button" matTooltip="Open Menu"   class="btn  btn-outline-secondary btn-sm" (click)="onClickTypeSurvey1()">
          <i class="fa fa-bars" aria-hidden="true"></i> Menu</button>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-4">
    <mat-card class="example-card" *ngIf="!main">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="../assets/start.png" width="25">
        </div>
        <mat-card-title>Create New Survey </mat-card-title>
        <mat-card-subtitle  class="start" *ngIf="!show">Start Survey?</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="!show" >
        <p>Create your new survey for taking feedback of your users with online coversation.</p>
      </mat-card-content>
      <mat-card-actions >
        <button mat-raised-button class="start-btn" matTooltip="Click here to Create New Survey" (click)="onClickTypeSurvey()">Create New <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        <button mat-raised-button class="save-btn"  matTooltip="Check Your Saved Survey" (click)="toggle3()">Your Saved Survey <i class="fa fa-pause-circle" aria-hidden="true"></i></button>
      </mat-card-actions>
    </mat-card>
  </div>
        
  <div class="col-lg-4 col-sm-6 col-xs-4">
    <mat-card class="example-card" *ngIf="!main">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
          <img src="../assets/ongoing.png" width="25">
        </div>
        <mat-card-title>OnGoing Survey</mat-card-title>
        <mat-card-subtitle  class="working" *ngIf="!show">Running on </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="!show">
        <p>Check your ongoing survey for multiple online business persepective coversation.</p>
      </mat-card-content>
      <mat-card-actions >
        <button mat-raised-button  matTooltip="Active Survey Details" class="working-btn"  (click)="toggle1()">Index Survey <i class="fa fa-hourglass-start" aria-hidden="true"></i></button>
        <span class="badge working" style="font-weight: 100;">Last Survey: SBI- 25th Jan 2020, 11AM</span>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="col-lg-4 col-sm-6 col-xs-4">
    <mat-card class="example-card" *ngIf="!main" >
      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
           <img src="../assets/complete.png" width="25">
        </div>
        <mat-card-title>Completed Survey</mat-card-title>
        <mat-card-subtitle  class="text-success" *ngIf="!show">Completed </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="!show">
        <p>Extend date and check your all completed surevy with all status score. Complete Details </p>
      </mat-card-content>
      <mat-card-actions >
        <button mat-raised-button  matTooltip="All completed Survey"  (click)="onClickCompletedSurvey()" class="complete" >Completed Survey <i class="fa fa-check" aria-hidden="true"></i> </button>
        <span class="badge text-success" style="font-weight: 100;">Last Expired Survey: TATA- 10th May 2019, 7 AM </span>
      </mat-card-actions>
    </mat-card>
  </div> 
</div>

<div class="row ">
  <div class="col-lg-12">
    <div class="" *ngIf="!createNewSurvey">
      <div class="mat-card body-mat-card " >
        <app-edit-template  *ngIf="!editSurveyDetails"></app-edit-template>
      </div>
    </div>
  </div>
  
  <div class="col-lg-12">
    <div class="" *ngIf="!savedsurvey">
      <div class="mat-card mt-2">
        <p>You and Launch your Survey and edit it before launch</p>
        <div class="table-responsive">
          <table class="table table-custom">
            <thead>
              <tr>  
                <th>Survey Name </th>
                <th>Start Date/Time</th>
                <th>Welcome Template</th>
                <th>Email Template</th>
                <th>Add Question</th>
                <th>End Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="text-primary">SBI general </span> </td>
                <td>20 June 2019 / 11am </td>
                <td><i class="material-icons text-danger">
                  close
                  </i></td>
                <td><i class="material-icons text-danger">
                  close
                  </i></td>
                <td><i class="material-icons text-danger">
                  close
                  </i></td>
                <td><i class="material-icons text-danger">
                  close
                  </i>
                  </td>
                <td>
                  <button   matTooltip="" class="btn  btn-xs btn-info "  (click)="draftEdit()">Edit</button> &nbsp;
                  <button  matTooltip="" class="btn  btn-xs btn-danger" >Delete</button>
                </td>
              </tr>  
              <tr>
                <td><span class="text-primary">SBI general</span>  </td>
                <td>20 June 2019 / 11am </td>
                <td><i class="material-icons text-danger">
                  close
                  </i></td>
                <td><i class="material-icons text-danger">
                  close
                  </i></td>
                <td><i class="material-icons text-success">
                  check
                  </i></td>
                <td><i class="material-icons text-danger">
                  close
                  </i>
                  </td>
                <td>
                  <button  matTooltip="" class="btn btn-xs btn-info">Edit</button> &nbsp;
                  <button  matTooltip="" class="btn btn-xs btn-danger">Delete</button>
                </td>
              </tr>   
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="" *ngIf="!onGoing">
      <div class="mat-card mt-2">
        <p>All List of onGoing Survey</p> 
        <div  *ngIf="!EditSelectedTemplate" class="body-mat-card">
         <app-edit-template></app-edit-template>
        </div>
        <div class="table-responsive" *ngIf="!ListOnGoingSurvey">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Survey Name </th>
                <th>Status</th>
                <th>Start Date/Time</th>
                <th>End Date/Time</th>
                <th>Region</th>
                <th>Attendent Participant</th>
                <th>Total Participant</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
            
              <tr>
                <td><strong><button class="btn btn-sm btn-primary" (click)="onClickSelectSurvey()">TATAAIG </button></strong>  </td>
                <td><span class="text-success">Active</span></td>
                <td>04 January 2020 /2pm</td>
                <td>20 January 2020 /7pm</td>
                <td>Phase 3</td>
                <td>500</td>
                <td>1000</td>
                <td>
                  <button mat-raised-button  matTooltip="" class="btn btn-sm btn-info"  (click)="draftEdit()">Edit</button> &nbsp;
                  <button mat-raised-button  matTooltip="" class="btn btn-sm btn-danger" >Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 <div class="col-lg-12">
    <div class="" *ngIf="!launchSurveyArea">
     
      <div class="mat-card body-mat-card " >
        <div class="text-center">
          launchSurvey area
          </div>
      </div>
    </div>
  </div> 

  <div class="col-lg-12">
    <div class="" *ngIf="!onGoingSelectSurvey">
      <div class="mat-card body-mat-card mt-2"> 
       <h6> Welcome on goning survey name : {{+result}} 
        <span class="float-right">
          <span>If you want to update in this HCL SURVEY then click here <button   (click)="editSurvey()" class="btn-sm  btn-danger" matTooltip="Edit Options">Edit Survey</button></span>
          <span >
            &nbsp;<button   (click)="detailSurvey()" class="btn-primary btn-sm" matTooltip="detail survey">back to details</button></span>
          </span>
       </h6>
        <div  *ngIf="!EditSelectSurvey" ><hr>
          <app-edit-template></app-edit-template>
        </div>
        <div *ngIf="!informationSurvey" >
          <hr>
          <div class="row">
            <div class="col-lg-4">
              <p><strong>Had Started:</strong> 20th Jan 2010/2PM</p>
              <p><strong>Will Expire:</strong> 20th Jan 2010/2PM</p>
            </div>
            
            <div class="col-lg-4">
              <p><strong>Total Participant</strong> - 1200</p>
              <p><strong>Attendent Participant</strong> - 300</p>
              <p><strong>Pending Participant</strong> - 900</p>
            </div>
            <div class="col-lg-4"><app-bar-charts></app-bar-charts></div> 
          </div>
        </div>
      </div>  
    </div>
  </div>

  <div class="col-lg-12">
    <div class="" *ngIf="!closeSelectSurvey">
      <div class="mat-card mt-2">
        <p>All List of Completed Survey</p> 
        <div class="table-responsive" >
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Survey Name </th>
                <th>Status</th>
                <th>Start Date/Time</th>
                <th>End Date/Time</th>
                <th>Region</th>
                <th>Attendent Participant</th>
                <th>Total Participant</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            
              <tr>
                <td><strong>TATAAIG </strong> <br>
                  <span style="cursor:pointer;" class="badge badge-secondary" (click)="detailcompltedSurveyGraph()">Details survey</span>  </td>
                <td><span class="text-success">Active</span></td>
                <td>04 January 2020 /2pm</td>
                <td>20 January 2020 /7pm</td>
                <td>Phase 3</td>
                <td>500</td>
                <td>1000</td>
                <td>
                  <button mat-raised-button  matTooltip="" class="btn btn-sm btn-info"  (click)="draftEdit()">Edit</button> &nbsp;
                  <button mat-raised-button  matTooltip="" class="btn btn-sm btn-danger" >Delete</button>
                </td>
              </tr>
              <tr>
                <td colspan="8" style="padding: 0;">
                <div *ngIf="!compltedSurveyGraph">
                <div style="    padding: 38px;
                background: #74ada7">
                  <div class="row">
                    <div class="col-lg-4">
                      <p><strong>Had Started:</strong> 20th Jan 2010/2PM</p>
                      <p><strong>Will Expire:</strong> 20th Jan 2010/2PM</p>
                    </div>

                    <div class="col-lg-4">
                      <p><strong>Total Participant</strong> - 1200</p>
                      <p><strong>Attendent Participant</strong> - 300</p>
                      <p><strong>Pending Participant</strong> - 900</p>
                    </div>
                    <div class="col-lg-4"><app-bar-charts></app-bar-charts></div> 
                  </div>
                  </div>
                </div>
              </td>
              </tr>
              <tr>
                <td><strong>TATAAIG </strong> <br>
                  <span class="badge badge-secondary" style="cursor:pointer;">Details survey</span> </td>
                <td><span class="text-success">Active</span></td>
                <td>04 January 2020 /2pm</td>
                <td>20 January 2020 /7pm</td>
                <td>Phase 3</td>
                <td>500</td>
                <td>1000</td>
                <td>
                  <button mat-raised-button  matTooltip="" class="btn btn-sm btn-info"  (click)="draftEdit()">Edit</button> &nbsp;
                  <button mat-raised-button  matTooltip="" class="btn btn-sm btn-danger" >Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
       
      </div>
    </div>
  </div>
</div>
