<div class=" "  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Dimention and select options  </h4>
      </div>
     
      <div class="modal-body">
        <form>
          <div class="row">
          <div class="col-sm-6">
          <div class="example-container">
            <p>List of Demographics </p>
          
            <div
              cdkDropList
              #todoList="cdkDropList"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
            </div>
          </div>
          </div>
          <div class="col-sm-6">
          <div class="example-container">
            <p>Selected Demographics</p>
          
            <div
              cdkDropList
              #doneList="cdkDropList"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
            </div>
          </div>
          </div>
        </div>
          <!-- <div class="row">
            <div class="col-sm-6">
              <div class="checkbox">
                <label><input type="checkbox" value="" checked> FullName </label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="" checked> DOB</label>
              </div>
              <div class="checkbox ">
                <label><input type="checkbox" value=""> Email</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value=""> Phone Number</label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value="{value}" > option 2 </label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value=""> option 2 </label>
              </div>
              <div class="checkbox">
                <label><input type="checkbox" value=""> option 2 </label>
              </div>
            </div>
            <div class="col-sm-6">
              <p>Your selected demographics </p>
            1. Full Full<br>
            2. DOB
            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-sm-12">
              <div class="modal-footer">
                <button type="button" class="btn  btn-primary" >Save</button>
                <button type="button" class="btn btn-outline-danger" (click)="closeModal()">cancel</button>
              </div>
            </div>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
