

 <div class="container-login">
   <div class="login">
      <div class="text-center">
       <h2 class="text-info"><i class="fa fa-unlock "></i></h2>
        <h4>LOGIN </h4>
        <p ><span>Already have an account? </span></p>
        <div  *ngIf="error" class="alert alert-danger mt-3 mb-0 ">
            <strong>Sorry!</strong> {{error}}
        </div>
        <!-- <div  style="font-size: 58px;  color: #34a2b7;"*ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
      </div>
  
      <div class="">
          <form class="login-form " [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                 <label for="username"> <i class="fa fa-user"></i> Username</label>
                 <input type="text" placeholder="Enter username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" autofocus/>
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">Username is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password"><i class="fa fa-lock"></i> Password</label>
                  <input type="password" placeholder="Enter password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                  </div>
              </div>
              <div class="form-group">
                <button [disabled]="loading" class="btn btn-block btn-lg btn-info">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
              </div>
                 <div class="text-center">
                   <p (click)="reset()" class="text-info">Forgot Password?</p>
                 </div>
          </form>
      </div>
  </div>
</div>




<style>
  .container-login{
    background-color: #eeeeee;
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  .login {
    width: 390px;
    border-radius: 10px;
    background: 0 0;
}
.login-form {
    width: 100%;
    border-radius: 10px;
    padding:20px;
    background-color: #fff;
    box-shadow: 0 7px 9px;
}
.login-form input{
    font-size: 15px;
    color: #34a2b7;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 50px;
    background: 0 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    padding: 0 0 0 30px;
    border-radius: 30px;
}
.login-form button {
   height:50px;
   border-radius: 30px;
} 
</style>