
 
.modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
  max-width: 100%;
  margin: 0;

}
.modal.show .modal-dialog .modal-content{
  height: 100vh;overflow: auto;
}
#trigger-upload {
  color: white;
  background-color: #00ABC7;
  font-size: 14px;
  padding: 7px 20px;
  background-image: none;
}

#fine-uploader-manual-trigger .qq-upload-button {
  margin-right: 15px;
}

#fine-uploader-manual-trigger .buttons {
  width: 36%;
}

#fine-uploader-manual-trigger .qq-uploader .qq-total-progress-bar-container {
  width: 60%;
}
.form-control {    font-size: 14px;
  height: 30px;    padding: 0px 6px;
  }
  .form-control-sm { height: 30px;  margin: 0 3px;
    border: 1px solid #ced4da;}
    .form-control-text{  height: 30px;
      border: 1px solid #ced4da;
      padding: 0px 6px;
      border-radius: 4px;
      width: 54%;
      font-size: 14px;
      position: relative;
      bottom: -9px;}
      .form-control-textarea{ 
        border: 1px solid #ced4da;
        padding: 0px 6px;
        border-radius: 4px;
        width: 69%;
        font-size: 14px;
        /* position: relative; */
        vertical-align: bottom;}
    #file{
      display:none;
    }
 



.qq-upload-button {
  display: inline;
  width: 105px;
  margin-bottom: 10px;
  padding: 7px 10px;
  text-align: center;
  float: left;
  background: #00ABC7;
  color: #FFF;
  border-radius: 2px;
  border: 1px solid #2dadc2;
}
.avatar-upload {
  height: 80px;
  width: 97px;
  position: absolute;
  border: 8px solid #ffffff;
  right: -101px;
  top: -49px;
  background: #e4e4e4;
} 
.avatar-upload  .avatar-edit {
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 0px;
}
.avatar-upload  .avatar-edit  input {
  display: none;
}
.avatar-upload span{
  position: relative;
  right: -96px;
  top: 29px;
  font-size: 13px;
  color: #2178b6;
}
.avatar-edit  input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid #cccfd0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
  }
.avatar-upload  .avatar-edit  input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload  .avatar-edit  input + label i {
    color: #6a6a6a;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border: 6px solid #F8F8F8;
}
.imagePreview{position: relative;}
.imagePreview img{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translate(-50%, -50%);
  left: 50%;
  width:62px;

}
table {width: 100%;}
.mat-form-field {font-size: 14px;width: 100%;}
.mat-cell, .mat-footer-cell {font-size: 12px;}
.tabs-left, .tabs-right {border-bottom: none; padding-top: 0px;}
.tabs-left {display: block; padding-right: 0px;}
.tabs-right {border-left: 1px solid #5dc6ef;}
.tabs-left>li, .tabs-right>li {float: none;}
.list-form li {
  position: relative;
  margin: 0;
  padding-bottom: 1em;
  padding-left: 27px;
  cursor: pointer;

}
.list-form li:hover { color: #c00;}
.list-form li span{   color: #c00; line-height: 32px;}
.list-form li:before {
  content: '';
  background-color: #d0d0d0;
  position: absolute;
  bottom: -6px;
  top: 0px;
  left: 10px;
  width: 3px;
}
.list-form li a{    font-size: 14px;}
.list-form li:last-child:before{  height:0;}
.list-form li.active a{    color: #cc0100;}
.list-form li:after {
  content: "×";
  padding: 0px 5px;
  line-height: 20px;

  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 32 32' focusable='false'%3E%3Ccircle stroke='none' fill='%23c00' cx='16' cy='16' r='10'%3E%3C/circle%3E%3C/svg%3E"); */
  position: absolute;
  left: 0;
  height: 22px;
  width: 22px;    top: 0px;
}
.showTab{display: block !important;}
.hideTab{
  display: none !important;
}

.header-surevy{background-color: #f5f5f5;padding: 9px; margin-bottom: 10px;}
.header-surevy h6{margin: 0;}
.btn-circle{    border-radius: 50%;
  width: 23px;
  height: 23px;
  padding: 1px;}
.check-icon{color: green!important;}
.btn-next{margin-top: 5px;}

/* 
@media screen {
  .modal-lg {
      width: 80% !important;
      max-width: calc(80%);
  }
  .modal-sm {
    width: 20% !important;
    max-width: calc(20%);
} */
.cross, .close {
  float: right;
  font-size: 23px;
  color: #ef3935;
  line-height: 11px;
  position: absolute;
  right: 8px;
  top: 6px;
  border: 1px solid #e71d1d;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 1px;
}
.stardard-area{border-radius: 10px;padding:10px;margin: 0 auto;box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);}
.stardard-area-bg{width: 902px;
  margin: 0 auto;

  /* background: #efefef; */
  padding: 20px;
  border-radius: 11px;
  /* box-shadow: 0px 0px 81px 0 rgba(47,47,47,0.1); */
}


  .stardard-area-full{
    
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    -moz-box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
    box-shadow: 0 0 12px rgba(58, 51, 46, 0.26);
  }
  .stardard-area-fixed{overflow: auto;
  height: 470px;
  }
  .footer{ 
    padding: 5px 0px;
    /* background-color: #13406c; */
    color: #13406c;
    font-size: 14px;
    margin-top: 30px;}
.btn-circle i {font-size: 16px;}


.image-wrap {
    padding: 10px;
    border: solid 1px #e0e0e0;
    display: inline-block;
}
.img-space {
    border: dashed 1px #d3d3d3;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: 32px;
    width: 32px;
    padding: 5px;
    
} .img-space img {
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    cursor: pointer;
}
.fileInputProfileWrap{  height: 21px;    width: auto;}
   
.fileInputProfile {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 99;
    opacity: 0;
} 

.fileInputProfile[disabled] + .img-space{
    pointer-events: none;
    cursor: not-allowed!important;
}
.delete-img{position: absolute; top: 5px;left: 45px;}
.delete-icon{    padding-top: 3px;color: red;}
.form-bg{    margin: 1px 0px;position: relative;
  background: #ececec;
  padding: 4px 8px;
  border-radius: 6px;}
  label {
    display: inline-block;
    margin-bottom: 2px;}
    .form-group {
      margin-bottom: 4px;}
  .question-card{background-color: #ffffff!important;
    border-radius: 25px;
    /* margin: 5px 0px; */
  /* box-shadow:0 2px 4px 4px rgba(128, 128, 128, 0.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(35, 31, 31, 0.12);
  */ padding: 10px;
}
.question-card ul {
  /* background: #fff; */
    padding: 0px 6px;
    border-radius: 3px;
  display: flex;
  margin: 0;
   
    list-style-type: none;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.question-card ul li {
  width: 100%;

}
.question-card ul li label{    margin-bottom: 0;
  font-size: 14px;}
  .question-card ul li label input{    position: relative;
    top: 2px;}







    .example-list {
      width: 1000px;
      max-width: 100%;
      border: solid 1px #ccc;
      min-height: 60px;
      display: flex;
      flex-direction: row;
      background: white;
      border-radius: 4px;
      overflow: hidden;
    }
    
    /* .example-box {
      padding: 20px 10px;
      border-right: solid 1px #ccc;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      background: white;
      font-size: 14px;
      flex-grow: 1;
      flex-basis: 0;
    }
    
    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    
    .cdk-drag-placeholder {
      opacity: 0;
    }
    
    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    
    .example-box:last-child {
      border: none;
    }
    
    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    } */
    @keyframes click-wave {
      0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
      }
      100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
      }
    }
    table.mat-table {
      box-shadow: none;}
input[type="radio"], input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 3.33333px;
  font-family: initial;
  margin-left: 8px;
  height: 18px;
  width: 18px;
  -webkit-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* margin-right: 0.5rem; */
  outline: none;
  /* position: relative; */
  z-index: 1000;
    }
    input[type="radio"]:hover, input[type="checkbox"]:hover {
      background: #40a5f5;
    }
    input[type="radio"]:checked, input[type="checkbox"]:checked{
      background: #40a5f5;
    }
    input[type="radio"]:checked::before, input[type="checkbox"]:checked::before {
    height: 18px;
    width: 18px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 14.66667px;
    text-align: center;
    line-height: 21px;
    }
    input[type="radio"]:checked::after, input[type="checkbox"]:checked::after {
      -webkit-animation: click-wave 0.65s;
      -moz-animation: click-wave 0.65s;
      animation: click-wave 0.65s;
      background: #40a5f5;
      content: '';
      display: block;
      position: relative;
      z-index: 100;
    }
    input[type="radio"]{
      border-radius: 50%;
    }
    input[type="checkbox"] {
    
    }
 
    .example-list {
      width: 100%;
      max-width: 100%;
      border: solid 1px #ccc;
      min-height: 60px;
      display: block;
      background: white;
      border-radius: 4px;
      overflow: hidden;
    }
    
    .example-box {
      padding: 4px 10px;
      border-bottom: solid 1px #ccc;
      color: rgba(0, 0, 0, 0.87);
      /* display: flex;
      flex-direction: row; */
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      background: #f5f5f5;
      font-size: 14px;
    
      box-shadow: 0 2px 4px 4px rgba(128, 128, 128, 0.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(35, 31, 31, 0.12);
      padding: 10px;
    }
    .example-box  .btn{padding: 0px 9px;}
    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
    
    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    
    .example-box:last-child {
      border: none;
    }
    
    .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    
    .example-custom-placeholder {
      background: #ccc;
      border: dotted 3px #999;
      min-height: 60px;
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
    

    .wrapper {
      width: 330px;
      font-family: 'Helvetica';
      font-size: 14px;
      border: 1px solid #CCC;
    }
    
    .StepProgress {
      position: relative;
     
      list-style: none;}
      
      /* .StepProgress::before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        left: 10px;
        width: 10px;
        height: 100%;
        border-left: 2px solid #CCC;
      } */
      
      .StepProgress-item {
        position: relative;
        counter-increment: list;}
        
        /* .StepProgress-item:not(:last-child) {
          padding-bottom: 20px;
        } */
        
        .StepProgress-item::before {
          display: inline-block;
          content: '';
          position: absolute;
          left: -30px;
          height: 100%;
          width: 10px;
        }
      
        
        .StepProgress-item::after {
         
          display: inline-block;
          position: absolute;
          top: 0;
          left: -37px;
          width: 17px;
          height: 17px;
          border: 2px solid #CCC;
          border-radius: 50%;
          background-color: #FFF;

        }
        
        .StepProgress-item.is-done
          .StepProgress-item::before {
            border-left: 2px solid green;
          }
          .StepProgress-item.active::before {
            border-left: 2px solid green;
        }
        .StepProgress-item::before {
            display: inline-block;
            content: '';
            position: absolute;
            left: -30px;
            height: 100%;
            width: 10px;}
            .StepProgress-item:not(:last-child) {
              padding-bottom: 20px;
          }
          .StepProgress-item {
              position: relative;
              counter-increment: list;
          }
          .StepProgress-item.active::after {
            content: "✔";
            font-size: 10px;
            color: #FFF;
            text-align: center;
            border: 2px solid green;
            background-color: green;}


            @media only screen and (max-width: 768px) {
              .stardard-area-bg {
                  max-width: 100%;
              }
            }        