<button mat-raised-button (click)="open(Dimension)">Choose your Demographics <i class="material-icons">
    post_add
    </i></button>
    
    <ng-template #Dimension let-modal>
      <div class="modal-body">
        <span type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"
          aria-hidden="true">&times;</span>
        
        <div class="stardard-area-bg">
          <h5 class="text-center">Add Demographics and select options </h5>
          <form>
            <div class="row">
              <div class="col-sm-6">
                <div class="example-container">
                  <p>List of Demographics </p>
                  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                    class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="example-container">
                  <p>Selected Demographics</p>
                  <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                    class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <button type="button" class="btn btn-sm btn-info" (click)="modal.close('Save click')">Save</button>
           
          </form>
        </div>
      </div>
    </ng-template>