/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.info{color:rgb(93, 198, 239);}
.warning{color:rgb(0, 175, 22);}
.reddy{color:rgb(222, 13, 13);}

.info-btn{background-color:rgb(93, 198, 239);color:#fff;}
.warning-btn{background-color:rgb(0, 175, 22);color:#fff;}
.reddy-btn{background-color:rgb(222, 13, 13);color:#fff;}

   
#swal2-title {
    margin: 0px;
    font-size: 17px;
    margin-bottom: 12px;
    font-weight: 700;

  }
  .swal2-styled {
    padding: .45em 1.5em!important;
    font-size: 15px!important;
    line-height: 21px!important;
  }
  .swal2-checkbox, .swal2-file, .swal2-input, .swal2-radio, .swal2-select, .swal2-textarea {
    margin: 0.5em auto!important;
}
.swal2-popup {height: 15em!important;}
.swal2-select {

  padding: 4px 12px!important;

  font-size: 17px!important;}
  .swal2-input {
    height: 2.5em!important;

    font-size: 17px!important;
  }